*{box-sizing: border-box}
.parent{background-color: #ddd;margin: auto;min-width: 600px;}
.child:nth-child(1){width: 100px;background-color: #333;line-height: 36px;text-align: center;color:white;height: 36px;}
.clearfix::after{content: '';display: block;clear: both;}
.clearfix{zoom: 1/*IE6*/}
.content{border: 1px solid black;margin-right: 10px;}
.nav{line-height: 24px;padding: 6px 0;}
.navItem{margin-right: 20px;}
.banner{width: 800px;height: 300px;background: #888;margin: 0 auto;margin-top: 10px;}
.pictures{width: 800px;margin: 0 auto;}
.pictures > .xxx{display: flex;flex-wrap: wrap;margin: 0 -4px;}
.picture{width: calc(25% - 8px);height: 194px;background: #ddd;margin:4px;}
.art{background: #ddd;width: 800px;margin: 0 auto;}
.art>.sider{float: left; width: calc(33.33% - 20px);margin-right: 20px;}
.art .main{float: left;border: 1px solid black;width: 66.66%;height: 300px}
.sider-child{height: 300px;border: 1px solid black}